{% load form_tags %}

{% for field in form.visible_fields %}

    {% if field|get_widget == 'CheckboxInput' %}
        
        <div class="form-check">
            <label class="form-check-label">
                {{ field|set_class:'form-check-input' }}
                {{ field.label }}
            </label>
            
        </div>
    {% elif field|get_widget == 'Textarea'%}    
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|set_class:'form-control' }}
        </div>    
    {% else %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                {{ field.label }}:
            </label>
            <div class="col-sm-10">
                {{ field|set_class:'form-control' }}
            </div>
        </div>
    {% endif %}
    
{% endfor %}

<hr>