{% load form_tags %}

{% for field in form.visible_fields %}

    {% if field|get_widget == 'CheckboxInput' %}
        
        <div class="form-check">
            <label class="form-check-label">
                {{ field|set_class:'form-check-input' }}
                {{ field.label }}
            </label>
            
        </div>
    {% else %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|set_class:'form-control' }}
        </div>
    {% endif %}
    
    
{% endfor %}