{% extends 'base.html' %}

{% block title %}Kakomu - Blog{% endblock %}

{% block content %}
    <div class="card mx-auto mb-3" style="width: 99%;">
        <div class="card-header pt-1 pb-0">
            <h3 class="card-title mb-1"><a href="#">Title of Post</a></h3>
        </div>
        <div class="card-body pt-2">
            <h6 class="card-subtitle mb-2 text-muted">December 12, 2017</h6>
            
            <hr class="my-2">
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor ante et pretium fringilla. Morbi ac mauris tellus. Pellentesque maximus enim at congue molestie. Maecenas varius ante id eleifend molestie. Curabitur at lectus quis sem blandit euismod at ullamcorper odio. Aenean blandit vestibulum luctus. Aliquam tristique massa dolor, quis tincidunt odio consectetur quis. Aliquam ac ex vitae velit cursus vestibulum. Praesent vitae ipsum a nunc venenatis pellentesque a et libero. Suspendisse potenti. Nam tellus orci, dapibus et nisi sed, imperdiet volutpat dolor. Sed rutrum erat ipsum, non sodales nisi ullamcorper ac. Donec sodales consequat sapien.
                <br>
                <br>

            Praesent bibendum vestibulum velit. Proin sit amet urna consequat, venenatis ipsum ut, fermentum neque. Integer mattis eros odio, ullamcorper efficitur nisl venenatis sit amet. Quisque eros eros, dapibus a elit in, iaculis dictum magna. Cras sed felis at odio dictum pulvinar. Vivamus suscipit volutpat facilisis. Cras venenatis bibendum sem ut vehicula. Donec a faucibus nunc. Aenean viverra sem dui, id efficitur lorem pulvinar at. Nullam rutrum ac risus id suscipit. Suspendisse dapibus nec nibh ac dapibus. Cras in placerat ex. Curabitur metus justo, porttitor ut euismod in, sollicitudin sit amet diam.</p>
        </div>
    </div>
{% endblock %}